<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="备忘详情"></title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <script th:src="@{/js/tailwind.min.js}"></script>
    <script th:src="@{/js/root.js}"></script>
    <link th:href="@{/css/root.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>
</head>

<body>

    <th:block th:replace="~{layout/base :: navbar('memo')}"></th:block>

    <main class="flex-grow mx-auto py-6 p-3 markdown-content flex flex-col lg:w-[70vw] w-[90vw]">
        <span class=" text-4xl font-bold text-gray-800" th:text="${memo.title}">标题占位</span>
        <div class="flex flex-row items-center justify-center mt-5">
            <div class="text-1xl font-bold text-gray-500" th:text="${memo.subTitle}">副标题占位</div>
            <div class="ml-5 flex-grow text-sm text-gray-400"
                th:text="${#temporals.format(memo.updateTime, 'yyyy-MM-dd HH:mm:ss')}">更新时间占位</div>
        </div>
        <div class="flex flex-row items-center justify-start mt-5">
            <sl-tag variant="success" size="small"
                class="px-3 py-1 mx-1 rounded-full text-sm cursor-pointer bg-primary/90 text-white"
                th:each="singleTag : ${memo.tags}" th:value="${singleTag.id}" th:text="${singleTag.title}"
                th:attr="data-value=${singleTag.id}"></sl-tag>
        </div>
        <div class="mt-5" th:utext="${memo.contentRender}"></div>
    </main>

    <th:block th:replace="~{layout/base :: footer}"></th:block>

    <th:block>
        <script>
        </script>
    </th:block>

</body>

</html>