<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>

<!--<th:block th:fragment="homeContent" th:remove="tag">-->
<!--    <h1>欢迎进入系统首页</h1>-->
<!--    <p>这是首页独有的业务内容，仅在首页展示</p>-->
<!--    <p>当前系统时间：<span th:text="${#dates.format(new java.util.Date(), 'yyyy-MM-dd HH:mm:ss')}"></span></p>-->
<!--</th:block>-->

<div th:replace="fragments/global-layout::html(
        pageTitle='书签',
        username='${username}',
        contentFragment='这里是内容'
    )"></div>


</body>


</html>
