<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="个人导航"></title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <script th:src="@{/js/tailwind.min.js}"></script>
    <script th:src="@{/js/root.js}"></script>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/root.css}" rel="stylesheet">
</head>

<body class="min-h-screen flex flex-col items-center justify-center">

<div class="w-full">
    <th:block th:replace="~{layout/base :: navbar('index')}"></th:block>
</div>

<main class="bg-page dark:bg-page-dark flex-grow w-full py-6 px-3 container">

</main>

<div class="bg-page dark:bg-page-dark w-full z-10 flex items-center justify-center py-3">
    <th:block th:replace="~{layout/base :: footer}"></th:block>
</div>

<th:block>
    <script>
    </script>
</th:block>

</body>

</html>