server:
  port: 8081
  servlet:
    context-path: /
spring:
  application:
    name: bitterling
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML5
  datasource:
    url: jdbc:h2:file:/usr/local/src/bitterling/bitterling_db
    driver-class-name: org.h2.Driver
    username: sa
    password: jinelei

  h2:
    console:
      enabled: false
      path: /h2-console
      settings:
        web-allow-others: true

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.H2Dialect
    open-in-view: false
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      encoding: utf-8
      data-locations: classpath:database/data.sql

  messages:
    encoding: UTF-8
  servlet:
    multipart:
      enabled: true

logging:
  level:
    root: warn
    org.hibernate.SQL: warn
    org.hibernate.type.descriptor.sql: warn
    com.jinelei.bitterling: warn
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"

springdoc:
  api-docs:
    enabled: false
    path: /
  paths-to-match: /**
