server:
  port: 8081
  servlet:
    context-path: /
spring:
  application:
    name: bitterling
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML
  datasource:
    url: jdbc:h2:mem:bitterling_db
    driver-class-name: org.h2.Driver
    username: sa
    password: jinelei
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    open-in-view: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      encoding: utf-8
      data-locations: classpath:database/data.sql
  messages:
    encoding: UTF-8
  servlet:
    multipart:
      enabled: true
  main:
    banner-mode: off
logging:
  level:
    root: warn
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    com.jinelei.bitterling: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"

springdoc:
  api-docs:
    enabled: true
    path: /
  paths-to-match: /**

bitterling:
  nickname: 美丽人生
